extends layout

block content
  h1= title
  p Welcome to #{title}

  button#read Read
  button#readJSON ReadJSON
  button#add Add
  br
  input#operandA(type='number', value='2')
  br
  input#operandB(type='number', value='3')
  
  p#display
  p#displayJSON