extends layout

block content
    h1= title
    p Welcome to #{title}
    
    button#workButton.btn.btn-primary Work
    button#renewableButton.btn.btn-success Renewables
    button#byYearButton.btn.btn-success By Year
    button#byIndexButton.btn.btn-success By Index
    button#aboutButton.btn.btn-secondary About
    
    div#elf-view